<div ng-controller="moduleInfoCtrl">
    <form name="parameter">
        <div class="form-group">
            <div class="row">
                <div class="col-md-5">
                    <div class="col-md-2" style="padding-top: 5px;">
                        <span class="label label-primary" ng-class="parameter.name.$valid?'label-primary':'label-danger'">Name</span>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" name="name" type="text" placeholder="Module Name不能为空" required ng-model="moduleInfo.name"/>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="col-md-2" style="padding-top: 5px;">
                        <span class="label label-primary" ng-class="parameter.prefix.$valid?'label-primary':'label-danger'">Prefix</span>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" name="prefix" type="text" placeholder="Version Prefix不能为空" required ng-model="moduleInfo.version_prefix"/>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-5">
                    <div class="col-md-2" style="padding-top: 5px;">
                        <span class="label label-primary" ng-class="parameter.owner.$valid?'label-primary':'label-danger'">Owner</span>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" name="owner" type="text" placeholder="Module Owner不能为空" required ng-model="moduleInfo.module_owner"/>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-5">
                    <button class="btn btn-primary" ng-disabled="!(parameter.name.$valid && parameter.prefix.$valid && parameter.owner.$valid)" ng-click="updateModuleInfo(moduleInfo.name,moduleInfo.version_prefix,moduleInfo.module_owner,moduleInfo.id)">修改</button>
                </div>
            </div>
        </div>        
    </form>
</div>
